@import "../../styles";

.container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $base-red;
}

.logo {
  width: 260px;
  height: 260px;
}

.title {
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}

.button {
  width: 80%;
  height: 40px;
  padding: 0;
  border-width: 1px;
  border-color: black;
  margin-bottom: 16px;
  border-radius: 10px;
  background-color: $base-orange;
  font-size: 18px;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.buttonBack {
  width: 80%;
  height: 40px;
  padding: 0;
  border-width: 1px;
  border-color: black;
  margin-bottom: 16px;
  border-radius: 10px;
  background-color: #C1C1C1;
  font-size: 18px;
  color: white;
  text-align: center;
  vertical-align: middle;
}
