@import "../styles.scss";

.card {
  position: relative;
  margin: 5px 0 5px 0;
  width: 100%;
  height: 60px;
  padding: 16px;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
  background-color: $base-grey;
  font-size: 20px;
}
